html, body{
    margin:10px;
    padding:10px;
}
/* 15x15 pixels for the squares */
.grid{
    display:flex;
    flex-wrap:wrap;
    width:420px;
    height:420px;
    border:solid black 5px;
    /* background-color: black; */

}

/* we want to divs to be placed inline instead of stacking on top one another. */
/*display flex so that the divs are placed next to each other and then flex-wrap so that they can wrap around eachother */

.grid div{
    width: 15px;
    height:15px;
    
}

.pac-dot {
    background-color:grey;
    border:5px solid white;
    box-sizing: border-box;
}

.wall {
    background-color:navy;
}


.power-pellet {
    background-color:lightpink;
    border-radius:7.5px;
}

.pacman{
    background-color: rgb(230, 216, 90);
    border-radius:7.5px;
    border:none;
}

.ghost-lair{
    background-color: darkgray;
}

.blinky{
    background-color:red;
    border:none;
}

.pinky{
    background-color:pink;
    border:none;

}

.inky{
    background-color:blue;
    border:none;
}

.clyde{
    background-color:orange;
    border:none;
}

.scared-ghost{
    background-color:rgb(151, 137, 179);
    border:none;
}